*,
*:before,
*:after {
    box-sizing: border-box;
}

/* @font-face {
    font-family: "Ms Madi";
    src: url("MsMadi-Regular.ttf");
} */

/* @font-face {
    font-family: "Figtree";
    src: "fonts/Figtree-Regular.tff";
} */


body {
    font-family: 'Figtree';
    background: #fff8ed;
    background-size: 600% 600%;
    margin: 0;
    padding: 20px;
    color: black;
}


/* img {
    max-width: 100%;
    height: auto;
}

/*
    1. Only use classes. Don't use IDs or HTML selectors.
    2. Only select things with one class. Don't use inheritance selectors.
*/

.header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 200px;
    padding-left: 550px;
    padding-right: 550px;
    margin-bottom: 150px;
}

.navbar {
    /* align-items: center;
    width: 100px;
    height: 50px;
    font-size: 26px;
    color: #ffffff; */
	overflow: hidden;
	width: 1100px;
	margin-left: 900px;
}

/* a:link, a:active {
    color: blue;
    text-decoration: none;
} */

.navitem {
    float: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navitem:hover {
    color: pink;
}

li.navitem a{
    color: red !important;
    /* text-decoration: none; */
}

.navitem:active{
    color: red;
    /* text-decoration: none; */
}

/* .navitem, a:active {
    background-color: #C0C0C0;
    color: green;
} */

.prof-img {
    width: auto;
    height: 350px;
    margin-bottom: 500px;
    border-radius: 50%;
}

.intro-text {
    font-size: 100px;
    text-align: center;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.about-btn {

    width: 450px;
}

p {
    width: 450px;
}

.about-btn:hover {
    opacity: 25%;

}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.content-title {
    font-size: 18px;
    text-align: center;
}




.entry_a {
    font-size: 18px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 800px;
    border: 5px solid rgb(255, 214, 119);
    background: #ffefce;
    border-radius: 2em;
    padding: 25px;
}

.entry_edu {
    font-size: 18px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 800px;
    border: 5px solid rgb(152, 174, 235);
    background: #dfefff;
    border-radius: 2em;
    padding: 25px;
}

.entry_ex {
    font-size: 18px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 800px;
    border: 5px solid rgb(170, 215, 159);
    background: #e5fbdd;
    border-radius: 2em;
    padding: 25px;
}

.entry_vol {
    font-size: 18px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 800px;
    border: 5px solid pink;
    background: #ffe8f5;
    border-radius: 2em;
    padding: 25px;
}

.entry_work {
    font-size: 18px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 800px;
    border: 5px solid rgb(205, 178, 255);
    background: #f5e7ff;
    border-radius: 2em;
    padding: 25px;
}




.entry_title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 21px;
    width: auto;
}

.entry_block {
    margin-top: 18px;
}

.entry_position {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
.entry_date {
    margin-top: 0px;
    margin-bottom: 10px;    
    font-size: 15.5px;
}
.entry_description {
    margin-top: 10px;
    margin-bottom: 22px;
    line-height: 1.5em;
}

.contact-content {
    max-width: 1250px;
    margin: auto;
    margin-top: 136px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center;
     */
}

.contact {
    font-size: 20px;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    border: 5px solid #99e0d3;
    background: #dafff8;
    border-radius: 2em;
    padding: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}

.contact-title {
    font-size: 20px;
    margin-bottom: 50px;
}

