
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    color: black;
}

img {
    max-width: 300px;
}

main {
    padding: 40px;
}

p {
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    background-color: rgb(178, 204, 214);
}

.header-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
}

.nav-container {
    display: flex;
    gap: 30px;
}

.nav-btn {
    font-size: 26px;
    color: black;
    text-decoration: none;
}

.btn:hover {
    color: pink;
}

.current-page {
    font-weight: bold;
}

/* HOME */
.home-content {
    display: flex;
    gap: 40px;
}

.home-header {
    text-align: center;
    margin-bottom: 50px;
}

.home-prof-img {
    border-radius: 50%;
}

/* ABOUT */

.about-header {
    text-align: center;
    margin-bottom: 50px;
}

.about-content-row {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

/* CONTACT */

.contact-info {
    font-size: 25px;
    text-align: center;
}