*,
*:before,
*:after {
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
}

header {
    z-index: 3;
    position: relative;
    color: white;
}

.title h1 {
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 8px;


    /* Stryling the text and giving it gradiant */
    color: #ffffff;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Make sure text is infront of background images */
    display: block;
    position: relative;
    z-index: 3;
}

a {
    margin-left: 15px;
    margin-right: 15px;
    color: white;

}

.buttons {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 100px;
    padding: 0;
    font-size: 200%;
    vertical-align: baseline;
    text-align: center;
    color: white;
    z-index: 3;

}



@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.text {
    color: white;
    font-size: 30px;
    display: block;
    position: relative;
    z-index: 3;
    text-align: center;
    margin-top: 200px;
    font-family: "Rubik Moonrocks";

}

.stars,
.twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(../images/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(../images/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 200s linear infinite;
}

.gradient-background {
    background: rgb(124, 11, 212);
    background: linear-gradient(0deg, rgba(124, 11, 212, 1) 17%, rgba(0, 0, 0, 1) 50%, rgba(23, 23, 160, 1) 50%, rgba(0, 0, 0, 1) 91%);
    text-align: center;
    color: white;
    z-index: 3;
    font-size: 20px;
}