@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    background-color: #CDC1B5;
    font-family: 'VT323', monospace;
}

.nav {
    display: flex;
    justify-content: center;
    
}

.nav-shelf {
    display: block;
    width: 60%;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}
.btn-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-image {
    width: 40px;
    height: auto;
    margin-left: 10px;
    
}

.btn-image-cat2 {
    width: 40px;
    height: auto;
    margin-left: 10px;
    padding-top: 18px;
    
}

.btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px; 
    padding-left:15px;
    padding-right: 15px;
    background-color: #AE804B;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    /* margin-bottom: px; */

}

.header-image {
    width: 60px;
    height: auto;
    margin-left: 30px;
}

.heart-image {
    width: 40px;
    height: auto;
}

.cat-container {
    display: flex;
    flex-direction: row;
}

.header-container {
    display: flex;
    flex-direction: column;
    transform: translate(20%, 90%);
}

.header {
    color: white;
    background-color: #AE804B;
    font-size: 80px;
    /* font-family: ; */
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;

    /* width: 45%; */
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(183, 127, 92, 0.408) ;
    
}

.headshot-border {

position: absolute;
    top: 13%;
    left: 56%;
    z-index: 4;
}

.headshot-image {
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: 3;
    background-color: white;
    padding: 7px;

}

.headshot-container {

}

.headshot-sign {
    position: absolute;
    bottom: 4%;
    right: 3%;

}

.sign-name {
    font-size: 65px;
    color: white;

    position: absolute;
    bottom: 19%;
    right: 25%;
    
}
/* 
.sign {

} */

.home-content {
    display: flex;
    flex-direction: row ;
    justify-content:space-between;
}
/* img {
    position: absolute;
    top: 10%;
} */