body {
    background-color: #CDC1B5;
}

.nav {
    display: flex;
    justify-content: center;
    
}

.nav-shelf {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.btn-container {
    display: flex;
    flex-direction: column;
}

.btn-image {
    width: 40px;
    height: auto;
    margin-left: 10px;
    
}

.btn-image-cat2 {
    width: 40px;
    height: auto;
    margin-left: 10px;
    padding-top: 18px;
    
}

.btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px; 
    padding-left:15px;
    padding-right: 15px;
    background-color: #AE804B;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.header-image {
    width: 60px;
    height: auto;
    margin-left: 30px;
}

.header-container {
    display: flex;
    flex-direction: column;
    transform: translate(20%, 90%);
}

.header {
    color: white;
    background-color: #AE804B;
    font-size: 80px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* width: 45%; */
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(157, 157, 157);
    
}

.headshot {
    border-radius: 50%;
    padding: 10px;
    border-width: 10px;
    border-color: white;
    background-color: white ;
    

}

.sign {

}

.home-content {
    display: flex;
    flex-direction: row ;
    justify-content:space-between;
}
/* img {
    position: absolute;
    top: 10%;
} */