body {
    background-color: #CDC1B5;
}

.nav {
    display: flex;
    justify-content: center;
    
}

.nav-shelf {
    display: flex;
    justify-content: center;
}

.btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px; 
    padding-left:15px;
    padding-right: 15px;
    background-color: #AE804B;
    border-radius: 8px;
    margin: 10px;
    font-size: 20px;
}

.header {
    color: white;
    background-color: #AE804B;
    font-size: 80px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* width: 45%; */
 
    border-radius: 10px;
    text-align: center;
    margin-top: 220px;
    margin-left: 100px;
    box-shadow: 5px 5px 5px 5px rgb(157, 157, 157);
    
}

.headshot {
    border-radius: 50%;
    padding: 10px;
    border-width: 10px;
    border-color: white;
    background-color: white ;
    

}

.sign {
    
}

.home-content {
    display: flex;
    flex-direction: row ;
    justify-content:space-around;
}
/* img {
    position: absolute;
    top: 10%;
} */